
<h1>Events </h1>
<div style="display: flex; flex-wrap: wrap; gap: 20px;">
<% @events.each do |event|%>
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; border-radius: 5px; box-shadow: 2px 2px 5px rgba(0,0,0,0.1); align-items: center; background-color: #f9f9f9; width: 20%;">
    <ul>
    <li> <%= event.name %> </li>
    <li> <%= event.description %> </li>
    <li> <%= event.venue.name %> </li>
    <li> <%= event.venue.city%> </li>
    <li> <%= event.venue.address %> </li>
    <li> <%= event.organizer.user.name %> </li>
    <li> <%= event.datetime %> </li>
<%= link_to "View Details & Book", event_path(event), style: "display: block; text-align: center; background: #3498db; color: white; padding: 10px; border-radius: 4px; text-decoration: none; font-weight: bold;" %>    </ul>
    </div>
    <%end%>
</div>