
<h1>Events </h1>
<div>
<% @events.each do |event|%>
    <div>
    <ul>
    <li> <%= event.name %> </li>
    <li> <%= event.description %> </li>
    <li> <%= event.venue.name %> </li>
    <li> <%= event.venue.city%> </li>
    <li> <%= event.venue.address %> </li>
    <li> <%= event.organizer.user.name %> </li>
    <li> <%= event.datetime %> </li>
<%= link_to "View Details & Book", event_path(event), style: "display: block; text-align: center; background: #3498db; color: white; padding: 10px; border-radius: 4px; text-decoration: none; font-weight: bold;" %>    </ul>
    </div>
    <%end%>
</div>