<h1>Event details</h1>

    <ul>
    <li> <%= @event. %> </li>
    <li> <%= @event.description %> </li>
    <li> <%= @event.venue.name %> </li>
    <li> <%= @event.venue.city%> </li>
    <li> <%= @event.venue.address %> </li>
    <li> <%= @event.organizer.user.name %> </li>
    <li> <%= @event.datetime %> </li>
    <li> <%= @event.organizer.user.email %> </li>
    <li> <%= @event.organizer.user.website %> </li>
    </ul>