<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Event Ticketing" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <% flash.each do |type, msg| %>
    <div style="padding: 10px; margin: 10px; border-radius: 5px; background: <%= type == 'alert' ? '#f8d7da' : '#d4edda' %>; color: <%= type == 'alert' ? '#721c24' : '#155724' %>;">
    <%= msg %>
    </div>
    <% end %>


  <nav style="display: flex; justify-content: space-between; align-items: center; padding: 1rem 5%; background-color: #ffffff; border-bottom: 1px solid #eaeaea; box-shadow: 0 2px 4px rgba(0,0,0,0.02); font-family: sans-serif;">
  
  <div style="font-size: 1.5rem; font-weight: 800; color: #2d3436; letter-spacing: -1px;">
    <%= link_to "EventSphere", root_path, style: "text-decoration: none; color: inherit;" %>
  </div>

  <div style="flex-grow: 1; max-width: 400px; margin: 0 30px;">
  <%# Changed flex-direction to row %>
  <%= form_with url: events_path, method: :get, local: true, style: "display: flex; width: 100%; flex-direction: row; align-items: stretch;" do |f| %>
    
    <%= f.text_field :query, 
        value: params[:query], 
        placeholder: "Search events...", 
        style: "flex-grow: 1; 
               padding: 8px 15px; 
               border: 1px solid #dfe6e9; 
               border-radius:10px;
               outline: none; 
               font-size: 0.9rem; 
               margin: 0;" %>

    <%= f.submit "Search", 
        style: "background-color: #f1f2f6; 
               border: 1px solid #dfe6e9; 
               border-left: none; 
               padding: 5 20px; 
               border-radius: 0 6px 6px 0; 
               cursor: pointer; 
               color: #eef6f9ff; 
               font-weight: 600; 
               font-size: 0.85rem; 
               margin: 0;
               white-space: nowrap;" %>
  <% end %>
</div>

  <div style="display: flex; gap: 25px; align-items: center;">

    <% if current_user %>
      <% if current_user.organizer? %>
        <%= link_to "My events", organizer_path(current_user.userable), style: "text-decoration: none; color: #636e72; font-weight: 500; font-size: 0.95rem;" %>
        <%= link_to "Create Event", new_event_path, style: "text-decoration: none; background-color: #0984e3; color: white; padding: 8px 18px; border-radius: 6px; font-weight: 600; font-size: 0.9rem;" %>
      <% elsif current_user.participant? %>
        <%= link_to "My Orders", participant_orders_path(current_user.userable), style: "text-decoration: none; color: #636e72; font-weight: 500; font-size: 0.95rem;" %>
      <% end %>
      <span style="font-size: 0.9rem; color: #2d3436;">Hello, <strong><%= current_user.name %></strong></span>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, style: "background: #d63031; color: white; border: none; padding: 8px 15px; border-radius: 6px; cursor: pointer; font-size: 0.9rem; font-weight: 600;" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, style: "text-decoration: none; color: #0984e3; font-weight: 500; font-size: 0.95rem;" %>
      <%= link_to "Sign Up", landing_path, style: "text-decoration: none; background-color: #00b894; color: white; padding: 8px 18px; border-radius: 6px; font-weight: 600; font-size: 0.9rem;" %>
    <% end %> 

</nav>
  <%= yield %>
  </body>
</html>
